# This is Pull Event workflow with specific Event Action Types
# In this workflow, we will create a simple CI pipeline that will trigger on a sepcific event.
# This workflow will include the Action Types in conjuction with the event trigger.
# This is to illustrate how to use Action Types and event triggers together in a GitHub Actions workflow.
# Only when the event trigger condition with the respective Action Type is met, the workflow will execute the defined jobs.

# We will use the 'pull_request' event trigger with the 'opened, edited or closed' Action Types.

name: Workflow for pull_request events with opened, edited, closed or reopened Action Types
on:
    pull_request:
        types:
            - opened
            - closed
            - edited
            - reopened
jobs:
    dump_context_to_log:
        runs-on: ubuntu-latest
        steps:
            - name: dump_event_context
              run: echo "${{toJson(github.event)}}" > pull_event.log  # This will dump the pull_reqeust event logs 
            - name: show_event log
              run: cat pull_event.log

# The way to test this workflow is simple
# We will creaate a dummy branch from the project2 branch
# Then we will create a pull request from the dummy branch to this project  branch on which this workflow exists
# This should trigger this workflow and should dump the logs and we should be able to see the logs




