# This is workflow2
# We will create a workflow where we will lint, test, build and deploy (simulated) the repo codebase.
# This workflow will trigger whenever a push event will be triggered from any local branch to its corresponding local branch
# We will use specific event filters to filter the push event to specific branches (main, project2, dummy, project1 branch is excluded)

name: Push Event Workflow
on :
    #Event
    push:
        #Event Filter
        branches: # This workflow will only run if the push event is on these brancges
            - main
            - project2
            - dummy

jobs:
    #Job 1
    lint:
        # Runner
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v3  # GitHub Actions
            
            - name: Setup node.js
              uses: actions/setup-node@v4  # GitHub Actions
              with:
                node-version: '20' # Condtional version lock of environment

            - name: Install dependencies
              run: npm ci # Run Shell Command

            - name: lint
              run: npm run lint # Run Shell Command
    # Job 2
    test:
        #Runner
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v3  # GitHub Actions
            
            - name: Setup node.js
              uses: actions/setup-node@v4  # GitHub Actions
              with:
                node-version: '20' # Condtional version lock of environment

            - name: Install dependencies
              run: npm ci # Run Shell Command

            - name: test
              run: npm test # Run Shell Command
    # Job 3
    build:
        # Runner
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v3  # GitHub Actions
            
            - name: Setup node.js
              uses: actions/setup-node@v4  # GitHub Actions
              with:
                node-version: '20' # Condtional version lock of environment

            - name: Install dependencies
              run: npm ci # Run Shell Command

            - name: build
              run: npm run build # Run Shell Command
    #Job 4
    deploy:
        # Runner 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v3  # GitHub Actions
            
            - name: Setup node.js
              uses: actions/setup-node@v4  # GitHub Actions
              with:
                node-version: '20' # Condtional version lock of environment

            - name: Install dependencies
              run: npm ci  # Run Shell Command

            - name: deploy
              run: echo "Deploying (simulated)....." # Run Shell Command







