
name: reusable-workflow-deploy

on:
    workflow_call:
      outputs:
        workflow-output-message:
          value: ${{jobs.deploy.outputs.job_output_message}}

      inputs:
        path: 
            required: true
            type: string
            default: ~/.npm
        key:
            required: true
            type: string
            default: node-module-dependencies-#{{ hashFiles('**/package-lock.json')}}

        artifact-name:
            required: true
            type: string
            default: build-files

        artifact-path:
            required: true
            type: string
            default: 'dist'

        build-job-output:
            required: true
            type: string
        
        environment-tag:
            required: true
            type: string
            default: dummy
            
    

jobs:    
    deploy:
        
        runs-on: ubuntu-latest
        outputs:
            job_output_message: ${{steps.deploy-code.outputs.step-output-message}}
        
        steps:

           - name: checkout-code
             uses: actions/checkout@v3
        
           - name: install or get cached dependencies
             uses: ./.github/actions/cache-install-depencies
            # This step uses a local custom action defined in this repository
             with:
                path: ${{inputs.path}}
                key: ${{inputs.key}}

           - name: download-build-artifacts
             uses: actions/download-artifact@v4
             with:
                name: ${{inputs.artifact-name}}
                path: ${{inputs.artifact-path}}

           - name: use-the-build-job-output
             run: echo "${{inputs.build-job-output}}"

           - name: deploy-code
             id: deploy-code
             run: echo "step-output-message=Deploying (simulated)....." >> $GITHUB_OUTPUT



        

        