
name: reusable-workflow-deploy

on:
    workflow_call:

      inputs:
        path: 
            required: true
            type: string
            #default: ~/.npm
        key:
            required: true
            type: string
            #default: node-module-dependencies-#{{ hashFiles('**/package-lock.json')}}

        artifact-name:
            required: true
            type: string
            #default: build-files

        artifact-path:
            required: true
            type: string
            #default: 'dist'

        
        access_key:
            required: true
            type: string
        
        password:
            required: true
            type: string
        
        region:
            required: true
            type: string
        
        bucket:
            required: true
            type: string



        
        environment-tag:
            required: true
            type: string
            default: dummy
            
    

jobs:    
    deploy:
        
        runs-on: ubuntu-latest
        outputs:
            job_output_message: ${{steps.deploy-code-message.outputs.step-output-message}}
        
        steps:

           - name: checkout-code
             uses: actions/checkout@v3
        
           - name: install or get cached dependencies
             uses: ./.github/actions/cache-install-deps
             with:
                path: ${{inputs.path}}
                key: ${{inputs.key}}

           - name: download-build-artifacts
             uses: actions/download-artifact@v4
             with:
                name: ${{inputs.artifact-name}}
                path: ${{inputs.artifact-path}}



           - name: deploy-code-message
             id: deploy-code-message
             run: echo "step-output-message=Deploying (simulated)....." >> $GITHUB_OUTPUT

           - name: connect to aws cli
             uses: aws-actions/configure-aws-credentials@v4
             with:
                aws-access-key-id: ${{ inputs.access_key }}
                aws-secret-access-key: ${{ inputs.password}}
                aws-region: ${{ inputs.region }}
              
           - name: run custom javascript action to sync bucket with local files
             uses: ./.github/actions/deploy-s3-javascript
             with:
                bucket: ${{inputs.bucket}}
                region: ${{ inputs.region}}
                dist-folder : ${{inputs.artifact-path}}





        

        