
name: reusable-workflow-deploy

on:
    workflow_call:

      inputs:
        path: 
            required: true
            type: string
        key:
            required: true
            type: string
        artifact-name:
            required: true
            type: string
        artifact-path:
            required: true
            type: string
        access_key:
            required: true
            type: string
        password:
            required: true
            type: string
        region:
            required: true
            type: string
        bucket:
            required: true
            type: string

      outputs:
        site-url:
            value: ${{jobs.reusbale-deploy.outputs.site-url}}
            
    

jobs:    
    reusbale-deploy:
        
        runs-on: ubuntu-latest
        outputs:
            site-url: ${{steps.site-url.outputs.site-url}}
        
        steps:
           - name: checkout-code
             uses: actions/checkout@v3
                 
           - name: install or get cached dependencies
             uses: ./.github/actions/cache-install-deps
             with:
                path: ${{inputs.path}}
                key: ${{inputs.key}}

           - name: download-build-artifacts
             uses: actions/download-artifact@v4
             with:
                name: ${{inputs.artifact-name}}
                path: ${{inputs.artifact-path}}

           - name: connect to aws cli
             uses: aws-actions/configure-aws-credentials@v4
             with:
                aws-access-key-id: ${{ inputs.access_key }}
                aws-secret-access-key: ${{ inputs.password}}
                aws-region: ${{ inputs.region }}
              
           - name: run custom javascript action to sync bucket with local files
             uses: ./.github/actions/deploy-s3-javascript
             with:
                bucket: ${{inputs.bucket}}
                region: ${{ inputs.region}}
                dist-folder : ${{inputs.artifact-path}}

           - name: Print Static website url
             id: site-url
             run: echo "site-url=http://${{inputs.bucket}}.s3-website-ap-south-1.amazonaws.com" >> "$GITHUB_OUTPUT"






        

        