name: Workflow1
on :

    push:
        
        branches: 
            - main
            - project2
            - dummy

            
jobs: 
      lint:
        runs-on: ubuntu-latest
        steps:
            - name: Print job level secret
              run: echo $ENV_OWNER 
            - name: Checkout the code
              uses: actions/checkout@v3 
            - name: install or get cached dependencies
              uses: ./.github/actions/cache-install-deps
              with:
                path: ~/.npm
                key: node-module-dependencies-#{{ hashFiles('**/package-lock.json')}}
            - name: lint
              run: npm run lint     
      test:
        runs-on: ubuntu-latest
        needs: lint 
        steps:
            - name: Checkout the code
              uses: actions/checkout@v3  
            - name: install or get cached dependencies
              uses: ./.github/actions/cache-install-deps
              with:
                path: ~/.npm
                key: node-module-dependencies-#{{ hashFiles('**/package-lock.json')}}
            - name: Test code
              id: test-code-step 
              run: npm run test

            - name: upload test reports to workflow
              if: failure() && steps.test-code-step.outcome == 'failure'
              uses: actions/upload-artifact@v4
              with:
                name: test-report
                path: test.json

      build:
        runs-on: ubuntu-latest
        needs: test 
        if: always() && (failure() || needs.test.result == 'success') 
        steps:
            - name: Checkout the code
              uses: actions/checkout@v3  
 
            - name: install or get cached dependencies
              uses: ./.github/actions/cache-install-deps
              with:
                path: ~/.npm
                key: node-module-dependencies-#{{ hashFiles('**/package-lock.json')}}
            - name: build the code
              run: npm run build 
            - name: upload build artifacts
              uses: actions/upload-artifact@v4 
              with:
                name: dist-files 
                path: dist 
                if-no-files-found: error 

      deploy:
        needs: build 
        if: always() && needs.build.result == 'success'
        runs-on: ubuntu-latest
        env: 
          AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          BUCKET: ${{vars.BUCKET}}
          REGION: ${{vars.AWS_REGION}}
        steps:
          - name: deploy-s3-static-site
            uses: ./.github/workflows/reusable_workflow.yml
            with:
              path: ~/.npm
              key: node-module-dependencies-#{{ hashFiles('**/package-lock.json')}}
              artifact-name: dist-files
              artifact-path: ./dist
              access_key: ${{env.AWS_ACCESS_KEY}}
              password: ${{env.AWS_SECRET_ACCESS_KEY}}
              bucket: ${{env.BUCKET}}
              region: ${{env.REGION}}
  
      print-site-url:
        runs-on: ubuntu-latest
        needs: deploy
        steps:
          - name: print-site-url
            run: echo "${{needs.deploy.outputs.site-url}}"


            