# This is workflow1.yml
# In this workflow, we will create a simple CI pipeline that will trigger on a sepcific event.
# This workflow will include the Action Types in conjuction with the event trigger.
# This is to illustrate how to use Action Types and event triggers together in a GitHub Actions workflow.
# Only when the event trigger condition with the respective Action Type is met, the workflow will execute the defined jobs.

# We will use the 'pull_request' event trigger with the 'opened, edited or closed' Action Types.

name: Workflow for pull_request events with opened, edited, closed or reopened Action Types
on:
    pull_request:
        types:
            - opened
            - closed
            - edited
            - reopened
        #branches: #Even though event filter was not part of the plan for this workflow but I had to add it temporarily 
        #          #This becasue the pull request will run on default (main) branch until the branch is specified
        #          #For now we ignore this and until project 2 is merged to main we will keep this event filter
        #  - main
        #  - project2
        #  - project1
jobs:
    dump_context_to_log:
        runs-on: ubuntu-latest
        steps:
            - name: dump_event_context
              run: echo "${{toJson(github.event)}}" > pull_event.log  # This will dump the pull_reqeust event logs 
            - name: show_event log
              run: cat pull_event.log

# The way to test this workflow is simple
# We will creaate a dummy branch named dummy and include a text file with some text
# Then we will create a pull request from the dummy branch to this current branch on which this workflow exists
# This should trigger this workflow and should dump the logs and we should be able to see the logs




